$primary: #84bffd;
$danger: #c05f5c;

$theme-colors: (
        "primary": $primary,
        "danger": $danger
);

$custom-colors: (
        "custom-color": #900
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
